<section>
	<ul id="about" class="nav nav-list">
		<li class="nav-header">About Me</a></li>
			<p>Machine Learning Lover, Deep Learning Alchemist and NLPer</p>
			<p>Nintendo Switch Owner, Piano Beginner</p>
      <p>Reading History, Sci-Fi, Fantasy and Chinese Swordsman</p>
			<p>Fan of Portland Trail Blazers, Former SNH48 Member Kiku and Blackpink Ros&eacute</p>
			<p>Welcome to communicate with me among above topics.</p>
			<p>微博: <a href="http://www.weibo.com/u/2540837283">百里云_bly</a></p>
			<p>GitHub: <a href="http://github.com/billy-inn">billy-inn</a></p>
			<p>Email:<code>pxu4 [at] ualberta.ca</code></p>
	</ul>
</section>
