<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <title>Peng Xu</title>
        <meta content="Peng Xu, billy-inn.github.io/about" name="keywords" />
        <style media="screen" type="text/css">html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            border: 0pt none;
            font-family: inherit;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            margin: 0pt;
            outline-color: invert;
            outline-style: none;
            outline-width: 0pt;
            padding: 0pt;
            vertical-align: baseline;
        }

        a {
            color: #1772d0;
            text-decoration:none;
        }

        a:focus, a:hover {
            color: #f09228;
            text-decoration:none;
        }

        a.paper {
            font-weight: bold;
            font-size: 12pt;
        }

        b.paper {
            font-weight: bold;
            font-size: 12pt;
        }

        * {
            margin: 0pt;
            padding: 0pt;
        }

        body {
            position: relative;
            margin: 3em auto 2em auto;
            width: 800px;
            font-family: Lato, Verdana, Helvetica, sans-serif;
            font-size: 14px;
            background: #eee;
        }

        h2 {
            font-family: Lato, Verdana, Helvetica, sans-serif;
            font-size: 15pt;
            font-weight: 700;
        }

        h3 {
            font-family: Lato, Verdana, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 700;
        }

        strong {
            font-family: Lato, Verdana, Helvetica, sans-serif;
            font-size: 13px;
            font-weight:bold;
        }

        ul {
            list-style: circle;
        }

        img {
            border: none;
        }

        li {
            padding-bottom: 0.5em;
            margin-left: 1.4em;
        }

        alert {
            font-family: Lato, Verdana, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            color: #FF0000;
        }

        em, i {
            font-style:italic;
        }

        div.section {
            clear: both;
            margin-bottom: 1.5em;
            background: #eee;
        }

        div.spanner {
            clear: both;
        }

        div.paper {
            clear: both;
            margin-top: 0.5em;
            margin-bottom: 1em;
            border: 1px solid #ddd;
            background: #fff;
            padding: 1em 1em 1em 1em;
        }

        div.paper div {
            padding-left: 230px;
        }

        img.paper {
            margin-bottom: 0.5em;
            float: left;
            width: 200px;
        }

        span.blurb {
            font-style:italic;
            display:block;
            margin-top:0.75em;
            margin-bottom:0.5em;
        }

        pre, code {
            font-family: 'Lucida Console', 'Andale Mono', 'Courier', monospaced;
            margin: 1em 0;
            padding: 0;
        }

        div.paper pre {
            font-size: 0.9em;
        }
        </style>

        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" /><!--<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>--><!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>--><!--<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>-->
    </head>
    <body>
        <div style="margin-bottom: 1em; border: 1px solid #ddd; background-color: #fff; padding: 1em; height: 140px;">
            <div style="margin: 0px auto; width: 100%;">
                <img title="Peng Xu" style="float: left; padding-left: .01em; height: 140px;" src="/images/peng_xu.JPG" />
                <div style="padding-left: 10em; vertical-align: top; height: 120px;"><span style="line-height: 150%; font-size: 20pt;">Peng Xu (徐鹏)</span><br />
				<span><strong>Researcher</strong></span><br />
				<!--<span><a href='http://www.siat.cas.cn/jgsz/kyxt/jcs/yjdy/dmtjc/'>Multimedia Research Center</a> and <a href='http://mmlab.ie.cuhk.edu.hk/'>Multimedia Lab</a></span> <br />-->
                        <span>Borealis AI</span><br />
                        <span><strong>Office</strong>: 101 College St., Suite 350, Toronto, Canada</span><br />
                        <span><strong>Email  </strong>: pxu4 [at] ualberta.ca</span> <br />
						<!--<span><strong><alert>Seeking for intern opportunties in 2017 Summer related to Knowledge Graph, Information Retrieval and Natural Language Processing.</alert></strong></span> <br />-->
						<span><strong><alert>I have strong interests in research about Natural Language Progressing and Machine Learning covering a wide range of topics.
                I am actively looking for possible PhD opportunties.</alert></strong></span>
                        </div>
                        </div>
                        </div>
                        <!--<div style="clear: both; background-color: #fff; margin-top: 1.5em; padding: .2em; padding-left: .3em;">-->

                        <div style="clear: both;">
                        <div class="section">
                        <h2>About Me (<a href='/papers/CV-PengXu.pdf'>CV</a>)</h2>
                        <div class="paper">
              I'm a Researcher in Borealis AI, aiming at publishing in top conferences in Machine Learning (ICLR/ICML/NeurIPS) and Natural Language Processing (ACL/NAACL/EMNLP) and developing products enabled by the cutting-edge AI technology.
                        <br> <br>
							Before joining Borealis AI, I was a master student of <a href='http://uofa.ualberta.ca/computing-science'>Department of Computing Science</a> at <a href='http://www.ualberta.ca'>University of Alberta</a>. I worked at the Database Group where I was advised by <a href='https://sites.ualberta.ca/~denilson/'>Prof. Denilson Barbosa</a>.
							I'm also an active contributor of <a href='http://wiki.dbpedia.org/'>DBpedia</a>. I've participated in GSoC 2016 as a student (<a href='/certificates/GSoC16.pdf'>Certificate</a>) and GSoC 2017 and 2018 as a student mentor (<a href='/certificates/GSoC17.pdf'>Certificate</a>) for DBpedia.
                        <br> <br>
                        I got my B.S. degree in the <a href='http://sice.bupt.edu.cn/tea/english/english/index.html'>School of Information and Communication Engineering of Beijing University of Posts and Telecommunications(BUPT)</a>. I finished my B.S. graduation thesis in CS department in Tsinghua university in June 2015. I really appreciate my thesis advisor <a href='http://keg.cs.tsinghua.edu.cn/jietang/'>Prof. Jie Tang</a> for his guidance and help in that year.
                        </div>
                        </div>
                        </div>

                        <div style="clear: both;">
                        <div class="section">
                        <h2>News</h2>
                        <div class="paper">
                        <ul>
                          <li> May 28, 2019: Two papers available on <a href="https://arxiv.org/">arXiv</a>. </li>
                          <li> May 14, 2019: One long paper on Coherence Modelling accepted at <a href="http://acl2019.org">ACL 2019</a>.
                          <li> Feburary 22, 2019: One short paper on Neural Relation Extraction accepted at <a href="http://naacl2019.org">NAACL 2019</a>.
                          <li> July 12, 2018: Successfully defend my master thesis which is the runner up for the <strong>Outstanding Master Thesis Award</strong>.
                          <li> Feburary 14, 2018: One long oral paper on Fine-Grained Entity Type Classification accepted at <a href="http://naacl2018.org">NAACL 2018</a>.
                          <!--<li> Feburary 14, 2018: One short paper accepted at <a href="https://www.caiac.ca/en/conferences/canadianai-2018/home">CanadianAI 2018</a>.
                          <li> Feburary 6, 2018: One paper available on <a href="https://arxiv.org/">arXiv</a>. </li>
                          <li> January 15, 2018: One <a href="https://www.caiac.ca/en/conferences/canadianai-2018/home">CanadianAI</a> paper has been submitted. </li>
                          <li> December 15, 2017: One <a href="http://naacl2018.org">NAACL</a> long paper has been submitted. </li>
                        <li> October 15, 2015: One <a href='http://pamitc.org/iccv15/'>ICCV</a> workshop paper has been accepted. </li>
                        <li> September 22, 2015: One <a href='http://www.icassp2016.org/'>ICASSP</a> paper has been submitted. </li>
                        <li> September 19, 2015: We are the 3rd winner for cultural event recognition, on ChaLearn <a href='http://gesture.chalearn.org/'>Looking at People Challenge</a> at ICCV 2015. </li>
                        <li> I will be reviewer for ICCV workshop 2015. </li>
                        <li> July 15, 2015: Very deep two stream ConvNets are proposed for action recognition [ <a href='http://arxiv.org/abs/1507.02159'>Link</a> ]. </li>
                        <li> March 29, 2015: We are the 1st winner of both tracks for action recognition and cultural event recognition, on ChaLearn <a href='http://gesture.chalearn.org/'>Looking at People Challenge</a> at CVPR 2015. </li>
                        -->
                        </ul>
                        </div>
                        </div>
                        </div>

                        <div style="clear: both;">
                        <div class="section">
                          <h2 id="confpapers">Selected Publications</h2> [<a href="https://scholar.google.ca/citations?user=6uEnoCEAAAAJ&hl=en">Full Publication List</a>]

						            <div class="paper" id="NeruIPS19_1"><img class="paper" src="/images/vae.png" title="vae" />
                        <div> <strong>Unsupervised Controllable Text Generation with Global Variation Discovery and Disentanglement</strong><br />
						            <strong>Peng Xu</strong>, Yanshuai Cao, Jackie Chi Kit Cheung <br />
                        arXiv preprint. <br />
                        [ <a href="https://arxiv.org/abs/1905.11975">Paper</a> ] [ <a href="">Code</a> (coming soon) ]
					              </div>
                        <div class="spanner"></div>
                        </div>

						            <div class="paper" id="NeruIPS19_2"><img class="paper" src="/images/I_p.png" title="I_p" />
                        <div> <strong>Better Long-Range Dependency By Bootstrapping A Mutual Information Regularizer</strong><br />
						            Yanshuai Cao&#42;, <strong>Peng Xu</strong>&#42; (&#42; indicates equal contribution)<br />
                        arXiv preprint. <br />
                        [ <a href="https://arxiv.org/abs/1905.11978">Paper</a> ] [ <a href="">Code</a> (coming soon) ]
					              </div>
                        <div class="spanner"></div>
                        </div>

						            <div class="paper" id="ACL19"><img class="paper" src="/images/coherence.png" title="HRERE" />
                        <div> <strong>A Cross-Domain Transferable Neural Coherence Model</strong><br />
						            <strong>Peng Xu</strong>, Hamidreza Saghir, Jin Sung Kang, Teng Long, Avishek Joey Bose, Yanshuai Cao, Jackie Chi Kit Cheung <br />
                        The 57th Annual Meeting of the Association for Computational Linguistics (<strong>ACL</strong>), 2019. <br />
                        Long paper, Florence, Italy, Jul.28 - Aug.2, ACL. <br />
                        [ <a href="https://arxiv.org/abs/1905.11912">Paper</a> ] [ <a href="/papers/ACL2019.pdf">Poster</a> ] [ <a href="https://github.com/BorealisAI/cross_domain_coherence">Code</a> ]
					              </div>
                        <div class="spanner"></div>
                        </div>

						            <div class="paper" id="NAACL19"><img class="paper" src="/images/HRERE.png" title="HRERE" />
                        <div> <strong>Connecting Language and Knowledge with Heterogeneous Representations for Neural Relation Extraction</strong><br />
						            <strong>Peng Xu</strong>, Denilson Barbosa <br />
                        The 17th Annual Conference of the North American Chapter of the Association for Computational Linguistics (<strong>NAACL</strong>), 2019. <br />
                        Short paper, Minneapolis, MN, U.S.A., Jun. 2-7, ACL. <br />
                        [ <a href="https://arxiv.org/abs/1903.10126">Paper</a> ] [ <a href="/papers/NAACL2019.pdf">Poster</a> ] [ <a href="https://github.com/billy-inn/HRERE">Code</a> ]
					              </div>
                        <div class="spanner"></div>
                        </div>

						            <div class="paper" id="NAACL18"><img class="paper" src="/images/NFETC.png" title="Neural Fine-Grained Entity Type Classification" />
                        <div> <strong>Neural Fine-Grained Entity Type Classification with Hierarchy-Aware Loss</strong><br />
						            <strong>Peng Xu</strong>, Denilson Barbosa <br />
                        The 16th Annual Conference of the North American Chapter of the Association for Computational Linguistics (<strong>NAACL</strong>), 2018. <br />
                        Long oral paper, New Orleans, LA, U.S.A., Jun. 1-6, ACL. <br />
                        [ <a href="https://arxiv.org/abs/1803.03378">Paper</a> ] [ <a href="/papers/NAACL2018.pdf">Slides</a> ] [ <a href="https://vimeo.com/276389935">Video</a> ] [ <a href="https://github.com/billy-inn/NFETC">Code</a> ]
					              </div>
                        <div class="spanner"></div>
                        </div>

						            <!-- <div class="paper" id="CanadianAI18"><img class="paper" src="/images/resume_matcher.png" title="Resume Matcher" />
                        <div> <strong>Matching Resumes to Job Descriptions with Stacked Models</strong><br />
						            <strong>Peng Xu</strong>, Denilson Barbosa <br />
                        The 31st Canadian Conference on Artificial Intelligence (<strong>CanadianAI</strong>), 2018. <br />
                        Short paper, Toronto, ON, Canada, May. 8-11, Springer.
					              </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="KBE4RE"><img class="paper" src="/images/KBE4RE.png" title="Investigations on Knowledge Base Embedding for Relation Prediction and Extraction" />
                        <div> <strong>Investigations on Knowledge Base Embedding for Relation Prediction and Extraction</strong><br />
                        <strong>Peng Xu</strong>, Denilson Barbosa <br />
                        arXiv preprint, 2018. <br />
                        [ <a href="https://arxiv.org/abs/1802.02114">Paper</a> ] <br />
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="ICCS15"><img class="paper" src="/images/ICCS15.png" title="Efficient Particle-Mesh Spreading on GPUs" />
                        <div> <strong>Efficient Particle-Mesh Spreading on GPUs</strong><br />
                        Xiangyu Guo, Xing Liu, <strong>Peng Xu</strong>, Zhihui Du, Edmond Chow <br />
                        International Conference on Computational Science (<strong>ICCS</strong>), 2015. <br />
                        [ <a href="/papers/ICCS15.pdf">Paper</a> ] <br />
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="ICASSP2016"><img class="paper" src="papers/ICASSP_750300.png" title="Codebook Enhancement of VLAD Representation for Visual Recognition" />
                        <div> <strong>Codebook Enhancement of VLAD Representation for Visual Recognition</strong><br />
                        <strong>Z. Wang</strong>, Y. Wang, L. Wang, and Y. Qiao <br />
                        submitted on ICASSP, 2016. <br />
                        [ Paper  ]  [ BibTex ]  <br />
                        <alert>Improve codebook generation quality and get better result on PASCAL VOC07 and HMDB51 than baseline.</alert>
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="WangXWQ15"><img class="paper" src="papers/WangXWQ15.jpg" title="Towards Good Practices for Very Deep Two-Stream ConvNets" />
                        <div> <strong>Towards Good Practices for Very Deep Two-Stream ConvNets</strong><br />
                        L. Wang, Y. Xiong, <strong>Z. Wang</strong>, and Y. Qiao <br />
                        ArXiv 1507.02159, 2015. <br />
                        [ <a href='papers/WangXWQ15.pdf'>Paper</a>  ]  [ <a href='papers/WangXWQ15.bib'>BibTex</a> ] [ <a href='https://github.com/yjxiong/caffe/tree/action_recog'>Code</a> ] <br />
                        <alert>Obtain 91.4% accuracy on the UCF101 dataset. Caffe extension for Multi-GPU training released.</alert>
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="WangWDQ_LAP15"><img class="paper" src="papers/WangWDQ_ChaLearnLAP15.jpg" title="Event Recognition Using Object-Scene Convolutional Neural Networks" />
                        <div> <strong>Object-Scene Convolutional Neural Networks for Event Recognition in Images</strong><br />
                        L. Wang, <strong>Z. Wang</strong>, W. Du, and Y. Qiao <br />
                        ChaLearn Looking at People (<strong>LAP</strong>) workshop, <strong>CVPR</strong>, 2015. <br />
                        [ <a href='papers/WangWDQ_ChaLearnLAP15.pdf'>Paper</a>  ]  [ <a href='papers/WangWDQ_ChaLearnLAP15.bib'>BibTex</a> ] [ <a href='papers/WangWDQ_ChaLearnLAP15_slide.pdf'>Presentation</a> ] [ <a href = 'cultural_event/index.html'>Project Page</a> ] <br />
                        <alert>Obtain 85.5% mAP and rank 1st on the track of cultural event recognition.</alert>
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="WangQT_CVPR15"><img class="paper" src="papers/AR_Zhe2.png" title="Exploring Fisher Vector and Deep Networks for Action Spotting" />
                        <div> <strong>Exploring Fisher Vector and Deep Networks for Action Spotting</strong><br />
                        <strong>Z. Wang</strong>, L. Wang, W. Du, and Y. Qiao <br />
                        ChaLearn Looking at People (<strong>LAP</strong>) workshop, <strong>CVPR</strong>, 2015. <br />
                        [ <a href='papers/05.pdf'>Paper</a>  ]  [ <a href='papers/05.bib'>BibTex</a> ] [ <a href='papers/05_slides.pdf'>Presentation</a> ]  <br />
                        <alert>Obtain Jaccard Index of 0.5385 and rank 1st on the track of action/interaction recognition.</alert>
                        </div>
                        <div class="spanner"></div>
                        </div>

                        <div class="paper" id="WangQT_CVPR15"><img class="paper" src="papers/thumos.gif" title="CUHK&SIAT Submission for THUMOS15 Action Recognition Challenge" />
                        <div> <strong>CUHK&SIAT Submission for THUMOS15 Action Recognition Challenge</strong><br />
                        L. Wang, <strong>Z. Wang</strong>, Y. Xiong, and Y. Qiao <br />
                        THUMOS Challenge 2015, <strong>CVPR</strong> 2015. <br />
                        [ <a href='papers/THUMOS.pdf'>Paper</a>  ]  [ <a href='papers/THUMOS.bib'>BibTex</a> ]  <br />
                        <alert>One of the top performers in Action Classification Task.</alert>
                        </div>
                        <div class="spanner"></div>
                        </div>-->

                        </div>
                        </div>

                    <div style="clear: both;">
                        <div class="section">
                        <h2 id="confpapers">Thesis</h2>
                        <div class="paper">
                        <ul>
                          <li>Master Thesis, <strong>Towards Neural Information Extraction without Manual Annotated Data</strong><br />
                            [<a href='/papers/MScThesis.pdf'>Thesis</a>] [<a href='/papers/MScThesis-Slides.pdf'>Presentation</a>] (Runner up for the <strong>Outstanding Master Thesis Award</strong>)</li>
                        </ul>
                        </div>
                        </div>
                        </div>

                    <div style="clear: both;">
                        <div class="section">
                        <h2 id="confpapers">Teaching</h2>
                        <div class="paper">
                        <ul>
							<li>2018 Winter, <strong>Teaching Assistant</strong> of CMPUT 175 Introduction to the Foundations of Computation II, University of Alberta</li>
                        </ul>
                        <ul>
							<li>2016 Fall, 2017 Fall <strong>Teaching Assistant</strong> of CMPUT 466/551 Machine Learning, University of Alberta</li>
                        </ul>
                        <ul>
							<li>2017 Winter, <strong>Teaching Assistant</strong> of CMPUT 174 Introduction to the Foundations of Computation I, University of Alberta</li>
                        </ul>
                        </div>
                        </div>
                        </div>


                        <div style="clear: both;">
                        <div class="section">
                        <h2 id="confpapers">Contests</h2>
                        <div class="paper">
                        <ul>
                    <!--<li><strong>ChaLearn Looking at People Challenge: <a href='http://gesture.chalearn.org/'>Cultural Event Classification</a></strong> (<small>in conjunction with ICCV 2015</small>),  <strong>Rank</strong>: 3/11</li>
                        <li><strong>THUMOS'15 Challenge: <a href='http://www.thumos.info/results.html'>Action Classification</a></strong> (<small>in conjunction with CVPR 2015</small>),  <strong>Rank</strong>: 5/11.</li>
                        <li><strong>ChaLearn Looking at People Challenge: <a href='http://gesture.chalearn.org/2015-looking-at-people-cvpr-challenge'>Cultural Event Classification</a></strong> (<small>in conjunction with CVPR 2015</small>),  <strong>Rank</strong>: 1/6</li>
                        <li><strong>ChaLearn Looking at People Challenge: <a href='http://gesture.chalearn.org/2015-looking-at-people-cvpr-challenge'>Action/Interaction Classification</a></strong> (<small>in conjunction with CVPR 2015</small>), <strong>Rank</strong>: 1/2.</li>
                        <li><strong>First Audio and Video Competition: <a href='http://avid.erangelab.com/'>Video Classification</a></strong>,  <strong>Rank</strong>: 5/11.</li>-->
                        <li><strong>ATEC: NLP for Financial Integellience (hosted by Alibaba)</strong>, <strong>10th out of 443 teams</strong> (<a href='/certificates/ATEC.jpg'>Certificate</a>)</li>
                        <li><strong>Kaggle: Home Depot Product Search Relevance</strong>, <strong>Top 10%</strong></li>
                        <li><strong>ACM-ICPC Hunan Invitational Programming Contest'13</strong>, <strong>Bronze Medalist</strong></li>
                        <li><strong>Programming Contest of Beijing University of Posts and Telecommunications'13</strong>, <strong>Gold Medalist</strong></li>
                        </ul>
                        <div class="spanner"></div>
                        </div>
                        </div>
                        </div>

                        <div style="clear: both;">
                        <div class="section"><h2>Awards</h2>
                        <div class="paper">
                        <li><strong>“Third-class Scholarship for Undergraduates”, 2013/2014</li>
                        <li><strong>“Second-class Scholarship for Undergraduates”, 2012/2013</li>
                        <li><strong>“Third-class Scholarship for Undergraduates”, 2011/2012</li>
                        </div>
                        </div>
                        </div>


                        <div style="clear:both;">
                        <p align="right"><font size="5">Last Updated on 22th May, 2018</a></font></p>
                        </div>

                        </body>
                        </html>

<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=6jJN7fKKHAlRNw0MHtZlHLpH_X9DYtpl0ZHTsUuB3ac&cl=ffffff&w=a"></script>
{% if site.google_analytics_tracking_id %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endif %}
